# Бинарники (результаты сборки)
*.exe
*.exe~
bin/
pkg/

# Окружение (ВАЖНО: не пушить пароли)
.env

# Зависимости Go
# Мы пушим go.mod и go.sum, но не сами скачанные пакеты
vendor/

# Настройки редактора
.vscode/